<div class="container">

  <div class="row">
    <div class="grid">
      <a class="module module1">Module 1</a>
      <a class="module module2">Module 2</a>
      <a class="module module3">Module 3</a>
      <a class="module module4">Module 4</a>
    </div>
  </div>

  <div class="row">
    <div class="grid2">
      <a class="component component1">Component 1</a>
      <a class="component component2">Component 2</a>
    </div>
  </div>

  <div class="row">
    <div class="grid3">
      <a class="social social1">Social 1</a>
      <a class="social social2">Social 2</a>
      <a class="social social3">Social 3</a>
    </div>
  </div>
</div>